@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist);
}


/* banner */
@layer utilities {
  .bg-grid {
    background-image: linear-gradient(to right, #09e5e5 1px, transparent 1px),
                      linear-gradient(to bottom, #09e5e5 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .animate-grid-move {
    animation: moveGrid 15s linear infinite;
  }

  @keyframes moveGrid {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
}


/* tech stack rotate icon */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}


